In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("ItsMe").getOrCreate()

In [2]:
# function to get or create pyspark session
def getSpark(appName):
    from pyspark.sql import SparkSession
    spark = SparkSession.builder.appName(appName).getOrCreate()
    return spark

In [ ]:
spark.stop()

In [ ]:
sc = spark.sparkContext

In [ ]:
#Create RDD from parallelize    
data = [1,2,3,4,5,6,7,8,9,10,11,12]

rdd = spark.sparkContext.parallelize(data)

In [ ]:
type(rdd)

In [ ]:
rdd.collect()

In [ ]:
! hadoop fs -ls /user/itv002193/pyspark

In [ ]:
# RDD from textFile

test = spark.sparkContext.textFile("/user/itv002193/pyspark/test.txt")

In [ ]:
type(test)

In [ ]:
test.collect()

In [ ]:
test1 = spark.sparkContext.wholeTextFiles("/user/itv002193/pyspark/test*.txt")

In [ ]:
type(test1)

In [ ]:
test1.collect()

In [ ]:

# Creates empty RDD with no partition    
empt_rdd = spark.sparkContext.emptyRDD 
# rddString = spark.sparkContext.emptyRDD[String]

In [ ]:
type(empt_rdd)

In [ ]:

#Create empty RDD with partition
rdd2 = spark.sparkContext.parallelize([1,2,3,4,5,6,7,8,9,10, 11,12,12,1221121,212,12,12,12,1,21,1,21,2,12,1,12],10) #This creates 10 partitions

In [ ]:
rdd2.getNumPartitions()

In [ ]:
rdd.getNumPartitions()

In [ ]:

reparRdd = rdd.repartition(4)
print("re-partition count:"+str(reparRdd.getNumPartitions()))
#Outputs: "re-partition count:4

In [ ]:
rdd = rdd.repartition(4)  # Shuffles data from all nodes and then creates additional partitions

In [ ]:
rdd = rdd.coalesce(1) # moves data from minimum nodes and creates/reduces partitions

In [ ]:
type(test.collect())

In [ ]:
# iterating through RDD
for ele in test.collect():
    print(ele)

In [ ]:
# Flatmap function --- Flattens rdd into multiple rows

flatRdd = test.flatMap(lambda x: x.split(" "))

In [ ]:
flatRdd.collect()[0:3]

In [ ]:
# Map Function -- Applies function passed to Map function to all the elements of the rdd


mapRdd = test.map(lambda x: x.upper())

In [ ]:
mapRdd.collect()[0:3]

In [ ]:
# reduceByKey Function -- reduces / Sums values based on common keys/elements

mapRdds = test.map(lambda x: (x, 1))
reducedRdd = mapRdds.reduceByKey(lambda x, y: x + y)

In [ ]:
reducedRdd.collect()

In [ ]:
mapRdds.collect()[0:9]

In [ ]:
# sortByKey -- sorted the pairedrdd by its key

sortedRdd = mapRdds.sortByKey()
sortedRdd1 = reducedRdd.sortByKey()

In [ ]:
sortedRdd1.collect()

In [ ]:
# filter function -- filters rdd based on filter function

filteredRdd = test.filter(lambda x: 'is' in x)
filteredRdd1 = mapRdds.filter(lambda x: 'is' in x[0])

In [ ]:
filteredRdd1.collect()[0:3]

# Transformations

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.textFile("/user/itv002193/pyspark/test.txt")

for element in rdd.collect():
    print(element)

#Flatmap    
rdd2=rdd.flatMap(lambda x: x.split(" "))
for element in rdd2.collect():
    print(element)
#map
rdd3=rdd2.map(lambda x: (x,1))
for element in rdd3.collect():
    print(element)
#reduceByKey
rdd4=rdd3.reduceByKey(lambda a,b: a+b)
for element in rdd4.collect():
    print(element)
#map
rdd5 = rdd4.map(lambda x: (x[1],x[0])).sortByKey()
for element in rdd5.collect():
    print(element)
#filter
rdd6 = rdd5.filter(lambda x : 'a' in x[1])
for element in rdd6.collect():
    print(element)

In [ ]:
# groupByKey -- groups the rdd elements by its keys

groupedRdd = mapRdds.groupByKey().mapValues(len)

In [ ]:
groupedRdd.collect()

In [ ]:
cogroupedRdd = mapRdds.cogroup(groupedRdd)

In [ ]:
cogroupedRdd.mapValues(len).collect()

# Actions

https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.RDD.html#pyspark.RDD

In [ ]:
test.count()

In [ ]:
test.countApprox(timeout=10)

In [ ]:
test.countApproxDistinct()

In [ ]:
mapRdds.countByKey()

In [ ]:
reducedRdd.countByValue()

In [ ]:

data=[("Z", 1),("A", 20),("B", 30),("C", 40),("B", 30),("B", 60)]
inputRDD = spark.sparkContext.parallelize(data)
  
listRdd = spark.sparkContext.parallelize([1,2,3,4,5,3,2])

In [ ]:
# Aggregate Function


#aggregate
seqOp = (lambda x, y: x + y)
combOp = (lambda x, y: x + y)
agg=listRdd.aggregate(0, seqOp, combOp)
print(agg) # output 20

In [ ]:
# reduce -- reduces elements of each partitions
from operator import add, sub
listRdd.reduce(add)

In [ ]:
listRdd.first()

In [ ]:
listRdd.top(5)

In [ ]:
listRdd.min()

In [ ]:
listRdd.max()

In [ ]:
listRdd.take(5)

In [ ]:
listRdd.getNumPartitions()

In [ ]:
listRdd.getStorageLevel()

In [ ]:
listRdd.takeOrdered(4)

In [ ]:
listRdd.takeOrdered(6, key= lambda x: -x)

In [ ]:
listRdd.takeSample(False, 5, seed=12)

In [ ]:
listRdd.takeSample(False, 5)

In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Jun  8 20:06:31 2022

@author: ravikant
"""


from operator import add
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("Z", 1), ("A", 20), ("B", 30), ("C", 40), ("B", 30), ("B", 60)]
inputRDD = spark.sparkContext.parallelize(data)

listRdd = spark.sparkContext.parallelize([1, 2, 3, 4, 5, 3, 2])

# aggregate
seqOp = (lambda x, y: x + y)
combOp = (lambda x, y: x + y)
agg = listRdd.aggregate(0, seqOp, combOp)
print(agg)  # output 20

# aggregate 2
seqOp2 = (lambda x, y: (x[0] + y, x[1] + 1))
combOp2 = (lambda x, y: (x[0] + y[0], x[1] + y[1]))
agg2 = listRdd.aggregate((0, 0), seqOp2, combOp2)
print(agg2)  # output (20,7)

agg2 = listRdd.treeAggregate(0, seqOp, combOp)
print(agg2)  # output 20

# fold
foldRes = listRdd.fold(0, add)
print(foldRes)  # output 20

# reduce
redRes = listRdd.reduce(add)
print(redRes)  # output 20

# treeReduce. This is similar to reduce


def add(x, y): return x + y


redRes = listRdd.treeReduce(add)
print(redRes)  # output 20

# Collect
data = listRdd.collect()
print(data)

#count, countApprox, countApproxDistinct
print("Count : "+str(listRdd.count()))
# Output: Count : 20
print("countApprox : "+str(listRdd.countApprox(1200)))
# Output: countApprox : (final: [7.000, 7.000])
print("countApproxDistinct : "+str(listRdd.countApproxDistinct()))
# Output: countApproxDistinct : 5
print("countApproxDistinct : "+str(inputRDD.countApproxDistinct()))
# Output: countApproxDistinct : 5

#countByValue, countByValueApprox
print("countByValue :  "+str(listRdd.countByValue()))


# first
print("first :  "+str(listRdd.first()))
# Output: first :  1
print("first :  "+str(inputRDD.first()))
# Output: first :  (Z,1)

# top
print("top : "+str(listRdd.top(2)))
# Output: take : 5,4
print("top : "+str(inputRDD.top(2)))
# Output: take : (Z,1),(C,40)

# min
print("min :  "+str(listRdd.min()))
# Output: min :  1
print("min :  "+str(inputRDD.min()))
# Output: min :  (A,20)

# max
print("max :  "+str(listRdd.max()))
# Output: max :  5
print("max :  "+str(inputRDD.max()))
# Output: max :  (Z,1)

#take, takeOrdered, takeSample
print("take : "+str(listRdd.take(2)))
# Output: take : 1,2
print("takeOrdered : " + str(listRdd.takeOrdered(2)))
# Output: takeOrdered : 1,2
print("take : "+str(listRdd.takeSample()))

In [ ]:
spark

In [ ]:
# Saving RDD 

filteredRdd = test.filter(lambda x: 'is' in x)

In [ ]:
filteredRdd.saveAsTextFile("/user/itv002193/pyspark/filteredRdd") ## saves in number of partitions files

In [ ]:
! hadoop fs -ls /user/itv002193/pyspark/filteredRdd4

In [ ]:
! hadoop fs -cat /user/itv002193/pyspark/filteredRdd4/part-00000

In [ ]:
filteredRdd.coalesce(1).saveAsTextFile("/user/itv002193/pyspark/filteredRdd5", ) # saves in 1 file

In [ ]:
filteredRdd.saveAsTextFile("/user/itv002193/pyspark/filteredRdd5", compressionCodecClass="org.apache.hadoop.io.compress.GzipCodec")

In [ ]:
!hadoop fs -cat /user/itv002193/pyspark/filteredRdd5/part-00000.gz

In [ ]:
# Cache and Persist in Pyspark


cachedRdd = test.cache()

In [ ]:
%%time


test.collect()

In [ ]:
%%time
cachedRdd.collect()

In [ ]:

dfPersist = test.persist()

In [ ]:
%%time
dfPersist.collect()

In [ ]:
from pyspark.storagelevel import StorageLevel

In [ ]:
test.unpersist()

In [ ]:
dfPersist1 = test.persist(storageLevel=StorageLevel.MEMORY_AND_DISK)

In [ ]:
%%time
dfPersist1.collect()

# Pyspark DataFrame

In [ ]:
if spark:
    spark.stop()

In [ ]:
from pyspark.sql.functions import *
spark = getSpark("Pyspark DataFrame Tutorial")

In [ ]:

# Rows to be inserted into DataFrame
names = [('James',None,'Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000)
]

# Columns for DataFrame Schema
columns = ["firstname","middlename","lastname","dob","gender","salary"]

# Create dataFrame from rows and columns above
df = spark.createDataFrame(data=names, schema=columns)

In [ ]:
# Validate dataFrame

# Type of DataFrame
print("Type of dataFrame is \n", type(df))
print('\n')

# Get list of columns 
print("Columns in Dataframe are \n", df.columns)
print('\n')

# Length of DataFrame columns
print("Number of columns in Dataframe are \n ", len(df.columns))
print('\n')

# Get column datatype
print("Column Data types are \n", df.dtypes)
print('\n')

# Get Schema of the DataFrame
print("DataFrame schema using printSchema function \n", df.printSchema())
print('\n')

print("DataFrame Schema using schema function \n", df.schema)
print('\n')

# Number of rows in DataFrame
print("Number of rows in Dataframe are \n", df.count())
print("\n")

# Shape / Size of DataFrame 
print("The shape of DataFrame is " + str(len(df.columns)) + "x" + str(df.count()))
print("The shape of DataFrame is {}x{}".format(str(len(df.columns)), str(df.count())))
print("\n")

# Get Stastitical description of the DataFrame
print("Stastitical Description of the DataFrame")
print(df.describe())
print("\n")

# Get Distinct Values
print("Distinct Values of the DataFrame are ")
print(df.distinct())
print("\n")

#Get count of distinct values
print("Count of Distinct values are ")
df.distinct().count()

In [ ]:
distinct_df = df.drop_duplicates()

In [ ]:
distinct_df.show()

In [ ]:
distinct_df.show(2)

In [ ]:
df.dropna()

In [ ]:
df.take(4)

In [ ]:
type(df.take(3)[1])

In [ ]:
families = df.alias("families")

In [ ]:
families

In [ ]:
family = df

In [ ]:
family

In [ ]:
df.fillna("Johnson")

In [ ]:
df.head(2)

In [ ]:
df.first()

In [ ]:
df.sample(fraction=0.54)

## DataFrame from external sources

In [3]:
# Get SparkSession
spark = getSpark("DataFrame with External Sources")

In [9]:
# Create DataFrame from CSV file

matches_df = spark.read.csv(path="/user/itv002193/pyspark/raw_data/matches.csv")

In [10]:
matches_df.show(1)

+---+------+----+----+-----+-----+-----------+-------------+------+----------+------+-----------+--------------+---------------+-----+-------+-------+-------+
|_c0|   _c1| _c2| _c3|  _c4|  _c5|        _c6|          _c7|   _c8|       _c9|  _c10|       _c11|          _c12|           _c13| _c14|   _c15|   _c16|   _c17|
+---+------+----+----+-----+-----+-----------+-------------+------+----------+------+-----------+--------------+---------------+-----+-------+-------+-------+
| id|season|city|date|team1|team2|toss_winner|toss_decision|result|dl_applied|winner|win_by_runs|win_by_wickets|player_of_match|venue|umpire1|umpire2|umpire3|
+---+------+----+----+-----+-----+-----------+-------------+------+----------+------+-----------+--------------+---------------+-----+-------+-------+-------+
only showing top 1 row

In [4]:
! hadoop fs -put /home/itv002193/data/matches.csv /user/itv002193/pyspark/matches.csv

In [19]:
# Read csv by specifying header
matches_df = spark.read.csv("/user/itv002193/pyspark/raw_data/matches.csv", header=True)

In [20]:
matches_df.show(2)

+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+--------+-------+
| id|season|     city|    date|              team1|               team2|         toss_winner|toss_decision|result|dl_applied|              winner|win_by_runs|win_by_wickets|player_of_match|               venue|       umpire1| umpire2|umpire3|
+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+--------+-------+
|  1|  2017|Hyderabad|4/5/2017|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0| Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|   AY Dandekar|NJ Llong|   null|
|  2|  2017|     Pune|4/6/2017|     Mumbai Indians|Rising Pune Super...|Rising Pune Super...|        field|normal|         0|Rising Pune Super...|          0|             7|      SPD Smith|Maharashtra Crick...|A Nand Kishore|  S Ravi|   null|
+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+--------+-------+
only showing top 2 rows

In [14]:
# Show complete column values
matches_df.show(2, truncate=False)

+---+------+---------+--------+-------------------+---------------------------+---------------------------+-------------+------+----------+----------------------+-----------+--------------+---------------+-----------------------------------------+--------------+--------+-------+
|id |season|city     |date    |team1              |team2                      |toss_winner                |toss_decision|result|dl_applied|winner                |win_by_runs|win_by_wickets|player_of_match|venue                                    |umpire1       |umpire2 |umpire3|
+---+------+---------+--------+-------------------+---------------------------+---------------------------+-------------+------+----------+----------------------+-----------+--------------+---------------+-----------------------------------------+--------------+--------+-------+
|1  |2017  |Hyderabad|4/5/2017|Sunrisers Hyderabad|Royal Challengers Bangalore|Royal Challengers Bangalore|field        |normal|0         |Sunrisers Hyderabad   |35         |0             |Yuvraj Singh   |Rajiv Gandhi International Stadium, Uppal|AY Dandekar   |NJ Llong|null   |
|2  |2017  |Pune     |4/6/2017|Mumbai Indians     |Rising Pune Supergiant     |Rising Pune Supergiant     |field        |normal|0         |Rising Pune Supergiant|0          |7             |SPD Smith      |Maharashtra Cricket Association Stadium  |A Nand Kishore|S Ravi  |null   |
+---+------+---------+--------+-------------------+---------------------------+---------------------------+-------------+------+----------+----------------------+-----------+--------------+---------------+-----------------------------------------+--------------+--------+-------+
only showing top 2 rows

In [21]:
matches_df.count()

756

In [32]:
# DataFrame from Parquet File
matches_par = spark.read.parquet("/user/itv002193/pyspark/processed_data/matches_parquet")

In [30]:
matches_par.show(3)

+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+---------+-------+
| id|season|     city|    date|              team1|               team2|         toss_winner|toss_decision|result|dl_applied|              winner|win_by_runs|win_by_wickets|player_of_match|               venue|       umpire1|  umpire2|umpire3|
+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+---------+-------+
|  1|  2017|Hyderabad|4/5/2017|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0| Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|   AY Dandekar| NJ Llong|   null|
|  2|  2017|     Pune|4/6/2017|     Mumbai Indians|Rising Pune Super...|Rising Pune Super...|        field|normal|         0|Rising Pune Super...|          0|             7|      SPD Smith|Maharashtra Crick...|A Nand Kishore|   S Ravi|   null|
|  3|  2017|   Rajkot|4/7/2017|      Gujarat Lions|Kolkata Knight Ri...|Kolkata Knight Ri...|        field|normal|         0|Kolkata Knight Ri...|          0|            10|        CA Lynn|Saurashtra Cricke...|   Nitin Menon|CK Nandan|   null|
+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+---------+-------+
only showing top 3 rows

In [33]:
# DataFrame from ORC File
matches_orc = spark.read.orc("/user/itv002193/pyspark/processed_data/matches_orc")

In [34]:
matches_orc.show(2)

+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+--------+-------+
| id|season|     city|    date|              team1|               team2|         toss_winner|toss_decision|result|dl_applied|              winner|win_by_runs|win_by_wickets|player_of_match|               venue|       umpire1| umpire2|umpire3|
+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+--------+-------+
|  1|  2017|Hyderabad|4/5/2017|Sunrisers Hyderabad|Royal Challengers...|Royal Challengers...|        field|normal|         0| Sunrisers Hyderabad|         35|             0|   Yuvraj Singh|Rajiv Gandhi Inte...|   AY Dandekar|NJ Llong|   null|
|  2|  2017|     Pune|4/6/2017|     Mumbai Indians|Rising Pune Super...|Rising Pune Super...|        field|normal|         0|Rising Pune Super...|          0|             7|      SPD Smith|Maharashtra Crick...|A Nand Kishore|  S Ravi|   null|
+---+------+---------+--------+-------------------+--------------------+--------------------+-------------+------+----------+--------------------+-----------+--------------+---------------+--------------------+--------------+--------+-------+
only showing top 2 rows

In [41]:
# DataFrame from Json File with 1 record
zipcode_json = spark.read.json("/user/itv002193/pyspark/raw_data/zipcode1.json")

In [40]:
zipcode_json.show(2)

+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|       City|Country|Decommisioned|  Lat|            Location|   LocationText|  LocationType|  Long|RecordNumber|State|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|PARC PARQUE|     US|        false|17.96|NA-US-PR-PARC PARQUE|Parc Parque, PR|NOT ACCEPTABLE|-66.22|           1|   PR|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+

In [44]:
# DataFrame from Json File with multiple records
zipcode_mult_json = spark.read.json("/user/itv002193/pyspark/raw_data/multiline-zipcode.json").cache()

In [ ]:
zipcode_mult_json.show(2)

In [23]:
# Saving DataFrame in Parquet file format
matches_df.write.parquet("/user/itv002193/pyspark/processed_data/matches_parquet")

In [26]:
# Saving DataFrame in ORC file format
matches_df.write.orc("/user/itv002193/pyspark/processed_data/matches_orc")

In [28]:
# Saving DataFrame in CSV file format
matches_df.write.parquet("/user/itv002193/pyspark/processed_data/matches_csv")

### DataFrame Tutorial

In [65]:
# Creating DataFrame using CSV file
case_df = spark.read.csv("/user/itv002193/pyspark/raw_data/Case.csv", header=True, inferSchema=True)

In [51]:
case_df.show(3)

+--------+--------+----------+-----+-------------------+---------+---------+----------+
| case_id|province|      city|group|     infection_case|confirmed| latitude| longitude|
+--------+--------+----------+-----+-------------------+---------+---------+----------+
| 1000001|   Seoul|Yongsan-gu| true|      Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul| Gwanak-gu| true|            Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|   Guro-gu| true|Guro-gu Call Center|       95|37.508163|126.884387|
+--------+--------+----------+-----+-------------------+---------+---------+----------+
only showing top 3 rows

In [54]:
# Get columns, dataypes, schema of the DataFrame

print(case_df.columns, "\n")
print(case_df.dtypes, "\n")
print(case_df.schema, "\n")
print(case_df.printSchema())

[' case_id', 'province', 'city', 'group', 'infection_case', 'confirmed', 'latitude', 'longitude']

[(' case_id', 'int'), ('province', 'string'), ('city', 'string'), ('group', 'boolean'), ('infection_case', 'string'), ('confirmed', 'int'), ('latitude', 'string'), ('longitude', 'string')]

StructType(List(StructField( case_id,IntegerType,true),StructField(province,StringType,true),StructField(city,StringType,true),StructField(group,BooleanType,true),StructField(infection_case,StringType,true),StructField(confirmed,IntegerType,true),StructField(latitude,StringType,true),StructField(longitude,StringType,true)))

root
 |--  case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

None

### Change Column Name

In [67]:
case_df = case_df.withColumnRenamed(" case_id", "case_id")

In [56]:
case_df.printSchema()

root
 |-- case_no: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [60]:
case_df = case_df.withColumnRenamed("infection_case", "infection")

In [61]:
case_df.printSchema()

root
 |-- case_no: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

### Iterate through each column of the dataFrame / Print Each column name

In [57]:
for i in case_df.columns:
    print(i)

case_no
province
city
group
infection_case
confirmed
latitude
longitude

### Select columns from DataFrame

In [68]:
case_df.select("case_id", "confirmed", "city").show(2)

+-------+---------+----------+
|case_id|confirmed|      city|
+-------+---------+----------+
|1000001|      139|Yongsan-gu|
|1000002|      119| Gwanak-gu|
+-------+---------+----------+
only showing top 2 rows

In [69]:
selected_case_df = case_df.select(["case_id", "confirmed", "city"])

In [70]:
selected_case_df.show(2)

+-------+---------+----------+
|case_id|confirmed|      city|
+-------+---------+----------+
|1000001|      139|Yongsan-gu|
|1000002|      119| Gwanak-gu|
+-------+---------+----------+
only showing top 2 rows

### Sorting the DataFrame

In [71]:
case_df.sort("confirmed").show(10)

+-------+----------+---------------+-----+--------------------+---------+---------+----------+
|case_id|  province|           city|group|      infection_case|confirmed| latitude| longitude|
+-------+----------+---------------+-----+--------------------+---------+---------+----------+
|7000002|   Jeju-do|              -|false|contact with patient|        0|        -|         -|
|3000007|Gangwon-do|              -|false|contact with patient|        0|        -|         -|
|1000030|     Seoul|     Gangseo-gu| true|SJ Investment Cal...|        0|37.559649|126.835102|
|1100007|     Busan|from other city| true|Cheongdo Daenam H...|        1|        -|         -|
|1000025|     Seoul|     Gangnam-gu| true|Gangnam Dongin Ch...|        1|37.522331|127.057388|
|1000028|     Seoul|from other city| true|Anyang Gunpo Past...|        1|        -|         -|
|1700003|    Sejong|from other city| true|  Shincheonji Church|        1|        -|         -|
|1300005|   Gwangju|              -|false|                 etc|        1|        -|         -|
|1000019|     Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
|1000034|     Seoul|              -| true|         Orange Life|        1|        -|         -|
+-------+----------+---------------+-----+--------------------+---------+---------+----------+
only showing top 10 rows

In [72]:
case_df.sort("confirmed", ascending=False).show(10)

+-------+----------------+---------------+-----+--------------------+---------+---------+----------+
|case_id|        province|           city|group|      infection_case|confirmed| latitude| longitude|
+-------+----------------+---------------+-----+--------------------+---------+---------+----------+
|1200001|           Daegu|         Nam-gu| true|  Shincheonji Church|     4511| 35.84008|  128.5667|
|1200009|           Daegu|              -|false|contact with patient|      917|        -|         -|
|1200010|           Daegu|              -|false|                 etc|      747|        -|         -|
|6000001|Gyeongsangbuk-do|from other city| true|  Shincheonji Church|      566|        -|         -|
|2000020|     Gyeonggi-do|              -|false|     overseas inflow|      305|        -|         -|
|1000036|           Seoul|              -|false|     overseas inflow|      298|        -|         -|
|1200002|           Daegu|   Dalseong-gun| true|Second Mi-Ju Hosp...|      196|35.857375|128.466651|
|6000012|Gyeongsangbuk-do|              -|false|contact with patient|      190|        -|         -|
|1000037|           Seoul|              -|false|contact with patient|      162|        -|         -|
|1000001|           Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
+-------+----------------+---------------+-----+--------------------+---------+---------+----------+
only showing top 10 rows

In [73]:
case_df.sort(case_df.confirmed.desc()).show(10)

+-------+----------------+---------------+-----+--------------------+---------+---------+----------+
|case_id|        province|           city|group|      infection_case|confirmed| latitude| longitude|
+-------+----------------+---------------+-----+--------------------+---------+---------+----------+
|1200001|           Daegu|         Nam-gu| true|  Shincheonji Church|     4511| 35.84008|  128.5667|
|1200009|           Daegu|              -|false|contact with patient|      917|        -|         -|
|1200010|           Daegu|              -|false|                 etc|      747|        -|         -|
|6000001|Gyeongsangbuk-do|from other city| true|  Shincheonji Church|      566|        -|         -|
|2000020|     Gyeonggi-do|              -|false|     overseas inflow|      305|        -|         -|
|1000036|           Seoul|              -|false|     overseas inflow|      298|        -|         -|
|1200002|           Daegu|   Dalseong-gun| true|Second Mi-Ju Hosp...|      196|35.857375|128.466651|
|6000012|Gyeongsangbuk-do|              -|false|contact with patient|      190|        -|         -|
|1000037|           Seoul|              -|false|contact with patient|      162|        -|         -|
|1000001|           Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
+-------+----------------+---------------+-----+--------------------+---------+---------+----------+
only showing top 10 rows

In [74]:
case_df.sort(case_df.confirmed.asc()).show(10)

+-------+----------+---------------+-----+--------------------+---------+---------+----------+
|case_id|  province|           city|group|      infection_case|confirmed| latitude| longitude|
+-------+----------+---------------+-----+--------------------+---------+---------+----------+
|7000002|   Jeju-do|              -|false|contact with patient|        0|        -|         -|
|3000007|Gangwon-do|              -|false|contact with patient|        0|        -|         -|
|1000030|     Seoul|     Gangseo-gu| true|SJ Investment Cal...|        0|37.559649|126.835102|
|1100007|     Busan|from other city| true|Cheongdo Daenam H...|        1|        -|         -|
|1000025|     Seoul|     Gangnam-gu| true|Gangnam Dongin Ch...|        1|37.522331|127.057388|
|1000028|     Seoul|from other city| true|Anyang Gunpo Past...|        1|        -|         -|
|1700003|    Sejong|from other city| true|  Shincheonji Church|        1|        -|         -|
|1300005|   Gwangju|              -|false|                 etc|        1|        -|         -|
|1000019|     Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
|1000034|     Seoul|              -| true|         Orange Life|        1|        -|         -|
+-------+----------+---------------+-----+--------------------+---------+---------+----------+
only showing top 10 rows

In [75]:
# Import Functions from pyspark sql module by aliasing it as 'F'
from pyspark.sql import functions as F

In [76]:
case_df.sort(F.desc("confirmed")).show(3)

+-------+--------+------+-----+--------------------+---------+--------+---------+
|case_id|province|  city|group|      infection_case|confirmed|latitude|longitude|
+-------+--------+------+-----+--------------------+---------+--------+---------+
|1200001|   Daegu|Nam-gu| true|  Shincheonji Church|     4511|35.84008| 128.5667|
|1200009|   Daegu|     -|false|contact with patient|      917|       -|        -|
|1200010|   Daegu|     -|false|                 etc|      747|       -|        -|
+-------+--------+------+-----+--------------------+---------+--------+---------+
only showing top 3 rows

In [77]:
case_df.sort(F.asc("confirmed")).show(3)

+-------+----------+----------+-----+--------------------+---------+---------+----------+
|case_id|  province|      city|group|      infection_case|confirmed| latitude| longitude|
+-------+----------+----------+-----+--------------------+---------+---------+----------+
|1000030|     Seoul|Gangseo-gu| true|SJ Investment Cal...|        0|37.559649|126.835102|
|7000002|   Jeju-do|         -|false|contact with patient|        0|        -|         -|
|3000007|Gangwon-do|         -|false|contact with patient|        0|        -|         -|
+-------+----------+----------+-----+--------------------+---------+---------+----------+
only showing top 3 rows

### Creating new column & casting columns

In [80]:
case_df = case_df.withColumn("location", F.concat_ws(',', case_df.latitude, case_df.longitude))

In [81]:
case_df.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- location: string (nullable = false)

In [82]:
case_df = case_df.withColumn("new_case_id", (case_df.case_id * 10))

In [83]:
case_df.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- location: string (nullable = false)
 |-- new_case_id: integer (nullable = true)

In [84]:
case_df.show(4)

+-------+--------+------------+-----+--------------------+---------+---------+----------+--------------------+-----------+
|case_id|province|        city|group|      infection_case|confirmed| latitude| longitude|            location|new_case_id|
+-------+--------+------------+-----+--------------------+---------+---------+----------+--------------------+-----------+
|1000001|   Seoul|  Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|37.538621,126.992652|   10000010|
|1000002|   Seoul|   Gwanak-gu| true|             Richway|      119| 37.48208|126.901384| 37.48208,126.901384|   10000020|
|1000003|   Seoul|     Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|37.508163,126.884387|   10000030|
|1000004|   Seoul|Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|37.546061,126.874209|   10000040|
+-------+--------+------------+-----+--------------------+---------+---------+----------+--------------------+-----------+
only showing top 4 rows

In [85]:
case_df = case_df.withColumn("new_case_id", F.concat_ws("-", case_df.province, case_df.case_id))

In [86]:
case_df.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- location: string (nullable = false)
 |-- new_case_id: string (nullable = false)

In [88]:
case_df.show(4)

+-------+--------+------------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|case_id|province|        city|group|      infection_case|confirmed| latitude| longitude|            location|  new_case_id|
+-------+--------+------------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|1000001|   Seoul|  Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|37.538621,126.992652|Seoul-1000001|
|1000002|   Seoul|   Gwanak-gu| true|             Richway|      119| 37.48208|126.901384| 37.48208,126.901384|Seoul-1000002|
|1000003|   Seoul|     Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|37.508163,126.884387|Seoul-1000003|
|1000004|   Seoul|Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|37.546061,126.874209|Seoul-1000004|
+-------+--------+------------+-----+--------------------+---------+---------+----------+--------------------+-------------+
only showing top 4 rows

In [89]:
# Casting the columns
from pyspark.sql.types import DoubleType, StringType, IntegerType, FloatType

In [90]:
case_df = case_df.withColumn("confirmed", case_df.confirmed.cast(StringType()))

In [91]:
case_df.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- location: string (nullable = false)
 |-- new_case_id: string (nullable = false)

In [92]:
case_df = case_df.withColumn("longitude", F.col("longitude").cast(DoubleType()))

In [93]:
case_df.printSchema()

root
 |-- case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- location: string (nullable = false)
 |-- new_case_id: string (nullable = false)

In [94]:
case_df.show(3)

+-------+--------+----------+-----+-------------------+---------+---------+----------+--------------------+-------------+
|case_id|province|      city|group|     infection_case|confirmed| latitude| longitude|            location|  new_case_id|
+-------+--------+----------+-----+-------------------+---------+---------+----------+--------------------+-------------+
|1000001|   Seoul|Yongsan-gu| true|      Itaewon Clubs|      139|37.538621|126.992652|37.538621,126.992652|Seoul-1000001|
|1000002|   Seoul| Gwanak-gu| true|            Richway|      119| 37.48208|126.901384| 37.48208,126.901384|Seoul-1000002|
|1000003|   Seoul|   Guro-gu| true|Guro-gu Call Center|       95|37.508163|126.884387|37.508163,126.884387|Seoul-1000003|
+-------+--------+----------+-----+-------------------+---------+---------+----------+--------------------+-------------+
only showing top 3 rows

### Filter DataFrame

In [95]:
# Single Filter Condition
seoul_case_df = case_df.filter(F.col("province") == "Seoul")

In [97]:
seoul_case_df.show(10)

+-------+--------+---------------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|case_id|province|           city|group|      infection_case|confirmed| latitude| longitude|            location|  new_case_id|
+-------+--------+---------------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|37.538621,126.992652|Seoul-1000001|
|1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384| 37.48208,126.901384|Seoul-1000002|
|1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|37.508163,126.884387|Seoul-1000003|
|1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|37.546061,126.874209|Seoul-1000004|
|1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|37.679422,127.044374|Seoul-1000005|
|1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|37.481059,126.894343|Seoul-1000006|
|1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|      null|                 -,-|Seoul-1000007|
|1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|       17|37.592888|127.056766|37.592888,127.056766|Seoul-1000008|
|1000009|   Seoul|from other city| true|Coupang Logistics...|       25|        -|      null|                 -,-|Seoul-1000009|
|1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|       30|37.481735|126.930121|37.481735,126.930121|Seoul-1000010|
+-------+--------+---------------+-----+--------------------+---------+---------+----------+--------------------+-------------+
only showing top 10 rows

In [99]:
# Multiple Filter Condition
seoul_confirmed_80_df = case_df.filter((F.col("province") == "Seoul") & (F.col("confirmed") >= 80))

In [102]:
seoul_confirmed_80_df.show(10)

+-------+--------+----------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|case_id|province|      city|group|      infection_case|confirmed| latitude| longitude|            location|  new_case_id|
+-------+--------+----------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|1000001|   Seoul|Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|37.538621,126.992652|Seoul-1000001|
|1000002|   Seoul| Gwanak-gu| true|             Richway|      119| 37.48208|126.901384| 37.48208,126.901384|Seoul-1000002|
|1000003|   Seoul|   Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|37.508163,126.884387|Seoul-1000003|
|1000036|   Seoul|         -|false|     overseas inflow|      298|        -|      null|                 -,-|Seoul-1000036|
|1000037|   Seoul|         -|false|contact with patient|      162|        -|      null|                 -,-|Seoul-1000037|
|1000038|   Seoul|         -|false|                 etc|      100|        -|      null|                 -,-|Seoul-1000038|
+-------+--------+----------+-----+--------------------+---------+---------+----------+--------------------+-------------+

In [101]:
seoul_confirmed_80_df = case_df.where((F.col("province") == "Seoul") & (F.col("confirmed") >= 80))

In [103]:
seoul_confirmed_80_df.show(10)

+-------+--------+----------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|case_id|province|      city|group|      infection_case|confirmed| latitude| longitude|            location|  new_case_id|
+-------+--------+----------+-----+--------------------+---------+---------+----------+--------------------+-------------+
|1000001|   Seoul|Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|37.538621,126.992652|Seoul-1000001|
|1000002|   Seoul| Gwanak-gu| true|             Richway|      119| 37.48208|126.901384| 37.48208,126.901384|Seoul-1000002|
|1000003|   Seoul|   Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|37.508163,126.884387|Seoul-1000003|
|1000036|   Seoul|         -|false|     overseas inflow|      298|        -|      null|                 -,-|Seoul-1000036|
|1000037|   Seoul|         -|false|contact with patient|      162|        -|      null|                 -,-|Seoul-1000037|
|1000038|   Seoul|         -|false|                 etc|      100|        -|      null|                 -,-|Seoul-1000038|
+-------+--------+----------+-----+--------------------+---------+---------+----------+--------------------+-------------+